body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* .magin010 {
    margin: 10px 0;
}
 */

.menu-bar {
    display: flex;
    width: 90%;
    height: 50px;
    justify-content: center;
    padding-top: 50px;

}

.menu-bar-left {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-right: 60%;

}

.menu-bar-right {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}


.menu-bar-right>a:nth-child(1) {
    margin: 0 20px;
    color: blue;
}

.menu-bar-right>a:nth-child(2) {
    margin: 0 20px;
}

/* .column {
    display: block;
    height: 50px;
    background-color: black;
} */

.logo {
    display: flex;
    width: 80%;
    padding: 100px 0;
    border-bottom: 2px solid rgb(190, 189, 189);
}

.logo-contain-1 {
    display: flex;
    flex: 1;
    justify-content: center;
}

.logo-contain-1>img {
    width: auto;
    height: 400px;
}

.logo-contain-2 {
    display: inline-block;
    height: 400px;
    width: 50%;
}

.hello {
    display: inline-block;
    margin-top: 20px;
    position: relative;

}

.hello>h2:nth-child(1) {
    font-size: 50px;
}

.hello>h2:nth-child(2-3) {
    font-size: 50px;
    font-size: 20px;
}


.underline {
    padding-bottom: 10px;
    border-bottom: 5px solid black;
    width: 20%;
}

.container {
    display: flex;
    width: 80%;
    justify-content: center;

}

.logo-project {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: red;
    margin-top: 35px;
    margin-right: 10px;
    border-radius: 40px;

}

.project-name-1 {
    display: inline-block;
    width: 50%;

}

.project-name-1>p:nth-child(1) {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px 0;
}

.project-name-1>p:nth-child(2) {
    color: rgb(99, 99, 99);
    font-size: 18px;
    font-weight: bold;
}

.project-disc {
    display: inline-block;
    width: 30%;
    padding: 10px 0;
}

.project-disc>p {
    font-size: 20px;
    font-weight: bold;
}

.project-disc>a {
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

.project-img {
    display: flex;
    justify-content: center;
}

.project-img>img {
    width: 800px;
    padding-bottom: 50px;
}

.border-bottom {
    display: flex;
    width: 80%;
    border-bottom: 2px solid rgb(190, 189, 189);
}

.contact {
    display: inline;
    width: 80%;
    margin-top: 30px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    align-items: left;
}

.footer {
    display: flex;
    justify-content: left;
    width: 80%;
}

.footer>a {
    margin: 30px 0px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}